<!DOCTYPE html>
<html>
  <head>
    <title>{{pageTitle}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/cumple-lokita/cumple.css">
  </head>
  <body>

  <div class="container">
    <h2 class="text-center">Feliz Cumple Lokita! - TE AMO!!!</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/cumple-lokita/1.jpg" alt="Los Angeles" style="width:100%;">
          <div class="carousel-caption">
            <h3>De Barbacoa - Sonriendo!</h3>
            <h4>Siempre felices :)</h4>
          </div>
        </div>

      <div class="item">
        <img src="/cumple-lokita/2.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Disneyland Paris!</h3>
          <h4>Tenemos que volver... y esta vez con April!</h4>
        </div>
      </div>

      <div class="item">
        <img src="/cumple-lokita/3.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>UCAB</h3>
          <h4>Al fin Ingenieros oooooeee oooeeee!</h4>
        </div>
      </div>

      <div class="item">
        <img src="/cumple-lokita/4.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>UCAB</h3>
          <h4>Ayer paseando por la Uni ;)</h4>
        </div>
      </div>

      <div class="item">
        <img src="/cumple-lokita/5.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Un fin de semana cualquiera :) </h3>
          <h4>Antes de salir de fiesta!</h4>
        </div>
      </div>

      <div class="item">
        <img src="/cumple-lokita/6.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Backstage - Fiesta de Colores!</h3>
          <p>La pintura es el ingrediente secreto de por que April tan Bonita!!!</p>
        </div>
      </div>

      <div class="item">
        <img src="/cumple-lokita/7.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Berlin Dungeon</h3>
          <h4>Que me cortan la cabezaaaaaaaa noooooo hahahaha!</h4>
        </div>
      </div>

      <div class="item">
        <img src="/cumple-lokita/8.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Viaje a Lanzarote!</h3>
          <h4>Y luego de 9 meses vendria April Alaia :)</h4>
        </div>
      </div>

      <div class="item">
        <img src="/cumple-lokita/9.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>April Alaia!</h3>
          <h4>Te adoramos hija :)</h4>
        </div>
      </div>
<!--
      <div class="item">
        <img src="4.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>UCAB</h3>
          <p>Al fin Ingenieros!</p>
        </div>
      </div>

      <div class="5tem">
        <img src="4.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>UCAB</h3>
          <p>Al fin Ingenieros!</p>
        </div>
      </div>

      <div class="item">
        <img src="6.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>UCAB</h3>
          <p>Al fin Ingenieros!</p>
        </div>
      </div>

      <div class="item">
        <img src="7.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>UCAB</h3>
          <p>Al fin Ingenieros!</p>
        </div>
      </div>

      <div class="item">
        <img src="8.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>UCAB</h3>
          <p>Al fin Ingenieros!</p>
        </div>
      </div>

      <div class="item">
        <img src="9.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>UCAB</h3>
          <p>Al fin Ingenieros!</p>
        </div>
      </div>
-->
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

    <audio autoplay>
      <source src="a7x.ogg" type="audio/mpeg">
      <source src="a7x.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </body>
</html>
